#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 450px;
    border:5px solid rgb(90, 178, 232);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body
{
    font-family: 'Comfortaa', cursive;
}
.developer
{
position: fixed;
text-align: center;
width: 100%;
color: blue;
line-height: 3;
}

#footer
{
    text-align: center;
    width: 100%;
    background-color: aliceblue;
    line-height: 3;
    color: rgb(90, 178, 232);
}